    <!--
        HTML5S Photography Template
        Copyright HTML5S 2019
        DO NOT ATTEMPT TO EDIT THIS TEMPLATE UNLESS YOU HAVE READ THE DOCUMENTATION AT HTTPS://HTML5S.NET/DOCS
        HTML5S IS NOT HELD RESPONSIBLE FOR ANY DAMAGE CAUSED
        YOU HAVE BEEN WARNED!
    -->

<!DOCTYPE html>
<html>
    <head>
        <!--Title-->
        <title>Photography Showcase</title>
        <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <!--Your name here-->
        <h1>Photography Showcase</h1>
        </div>
        <div class="photography">
            <h2>Showcase</h2>
            <!--The grid-->
            <div class="section group">
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
            <div class="section group">
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    </div>
                </div>
                <div class="section group">
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
                    </div>
                    <div class="col span_1_of_4">
                        Photo
            </div>
            </div>
        </div>
        <footer>
            <p>Created with <i class="fas fa-heart"></i> by <a href="http://html5s.net">html5s.net</a></p>
			<p>The responsive and easy way to create beautiful looking websites.</p>
        </footer>
    </body>
</html>